@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url('https://fonts.googleapis.com/css?family=Taviraj:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amiri&display=swap');
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
    margin: 0px;
    padding: 0px;
}

.welcome-area {
    display: flex;
    background-color: white;


}


.welcome {
    flex: 2;
    margin: 50px 0px;
    text-align: justify;
    margin-left: 50px;


}

.welcome h2 {
    padding-bottom: 30px;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
}

.welcome p {
    font-size: 17px;
    font-family: "Montserrat", sans-serif;
}

.video {

    flex: 2;
    margin: 30px 20px;

    padding-left: 50px;
    padding-top: 50px;
}

.video iframe {
    height: 340px;
    width: 600px;
    border-radius: 10px;
}

@media (max-width:1400px) {
    .video iframe {
        height: 340px;
        width: 500px;
    }
}

@media (max-width:1200px) {
    .welcome-area {
        display: block;
    }

    .welcome {
        margin: 40px 50px;
        padding-top: 100px;
        padding-bottom: 50px;

    }

    .welcome p {
        margin-left: 40px;

    }


    .video iframe {
        width: 100%;


    }

    .video {
        padding-left: 0px;
        padding-top: 0px;
        margin: 0px 0px;
        padding-bottom: 60px;
    }

}

@media (max-width:768px) {
    .welcome {
        margin: 40px 30px;
    }

    .welcome p {
        margin-left: 0px;

    }
}

@media (max-width: 360px) {
    .welcome h2 hr {
        height: 10px;
    }
}